.menu {
  width: 20%;
  max-width: 250px;
  min-height: 100vh;
  color: #fff;
  background-color: rgb(32,32,32);
}

.menu__container {
  padding-left: 5%;
  padding-top: 80px;
  position: sticky;
  top: 0;
}

.menu__heading {
  font-weight: 500;
  margin: 0 0 80px;
  cursor: pointer;
}

.menu__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__ul > li {
  margin-bottom: 30px;
}

.menu__li {
  text-decoration: none;
  color: #a8a7a7;
  transition: color 0.3s;
}

.menu__li:hover {
  color: #fff;
}

